{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "react-intl", {
      "messagesDir": "./public/messages/",
      "enforceDescriptions": false
    }
    ]
  ]
}
